
.vs/AcessoRemoto/v16/.suo
.vs/AcessoRemoto/v16/Browse.VC.db
.vs/AcessoRemoto/v16/ipch/AutoPCH/d2333afd98219d00/CONTROLER.ipch
.vs/Cliente/config/applicationhost.config
.vs/Cliente/v16/.suo
.vs/Cliente/v16/Browse.VC.db
.vs/Cliente/v16/ipch/AutoPCH/2b988a36ab43ddce/CONTROLER.ipch
.vs/Cliente/v16/ipch/AutoPCH/47e228ade984ab7b/CONTROLER.ipch
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
Debug/AcessoRemoto.exe
Debug/AcessoRemoto.exe.recipe
Debug/AcessoRemoto.ilk
Debug/AcessoRemoto.log
Debug/AcessoRemoto.pdb
Debug/AcessoRemoto.tlog/AcessoRemoto.lastbuildstate
Debug/AcessoRemoto.tlog/CL.command.1.tlog
Debug/AcessoRemoto.tlog/CL.read.1.tlog
Debug/AcessoRemoto.tlog/CL.write.1.tlog
Debug/AcessoRemoto.tlog/link.command.1.tlog
Debug/AcessoRemoto.tlog/link.read.1.tlog
Debug/AcessoRemoto.tlog/link.write.1.tlog
Debug/AcessoRemoto.vcxproj.FileListAbsolute.txt
Debug/Controler.obj
Debug/vc142.pdb
Interface/AcessoRemotoInterface/.vs/AcessoRemotoInterface/v16/.suo
Interface/AcessoRemotoInterface/bin/Debug/AcessoRemoto.exe
Interface/AcessoRemotoInterface/bin/Debug/AcessoRemoto/AcessoRemoto.exe
Interface/AcessoRemotoInterface/bin/Debug/AcessoRemoto/AcessoRemotoInterface.exe
Interface/AcessoRemotoInterface/bin/Debug/AcessoRemoto/BouncyCastle.Crypto.dll
Interface/AcessoRemotoInterface/bin/Debug/AcessoRemoto/Google.Protobuf.dll
Interface/AcessoRemotoInterface/bin/Debug/AcessoRemoto/K4os.Compression.LZ4.dll
Interface/AcessoRemotoInterface/bin/Debug/AcessoRemoto/K4os.Compression.LZ4.Streams.dll
Interface/AcessoRemotoInterface/bin/Debug/AcessoRemoto/K4os.Compression.LZ4.Streams.xml
Interface/AcessoRemotoInterface/bin/Debug/AcessoRemoto/K4os.Compression.LZ4.xml
Interface/AcessoRemotoInterface/bin/Debug/AcessoRemoto/K4os.Hash.xxHash.dll
Interface/AcessoRemotoInterface/bin/Debug/AcessoRemoto/K4os.Hash.xxHash.xml
Interface/AcessoRemotoInterface/bin/Debug/AcessoRemoto/MySql.Data.dll
Interface/AcessoRemotoInterface/bin/Debug/AcessoRemoto/MySql.Data.xml
Interface/AcessoRemotoInterface/bin/Debug/AcessoRemoto/System.Buffers.dll
Interface/AcessoRemotoInterface/bin/Debug/AcessoRemoto/System.Buffers.xml
Interface/AcessoRemotoInterface/bin/Debug/AcessoRemoto/System.Memory.dll
Interface/AcessoRemotoInterface/bin/Debug/AcessoRemoto/System.Memory.xml
Interface/AcessoRemotoInterface/bin/Debug/AcessoRemoto/System.Numerics.Vectors.dll
Interface/AcessoRemotoInterface/bin/Debug/AcessoRemoto/System.Numerics.Vectors.xml
Interface/AcessoRemotoInterface/bin/Debug/AcessoRemoto/System.Runtime.CompilerServices.Unsafe.dll
Interface/AcessoRemotoInterface/bin/Debug/AcessoRemoto/System.Runtime.CompilerServices.Unsafe.xml
Interface/AcessoRemotoInterface/bin/Debug/AcessoRemoto/Ubiety.Dns.Core.dll
Interface/AcessoRemotoInterface/bin/Debug/AcessoRemoto/Zstandard.Net.dll
Interface/AcessoRemotoInterface/bin/Debug/AcessoRemotoInterface.application
Interface/AcessoRemotoInterface/bin/Debug/AcessoRemotoInterface.exe
Interface/AcessoRemotoInterface/bin/Debug/AcessoRemotoInterface.exe.config
Interface/AcessoRemotoInterface/bin/Debug/AcessoRemotoInterface.exe.manifest
Interface/AcessoRemotoInterface/bin/Debug/AcessoRemotoInterface.pdb
Interface/AcessoRemotoInterface/bin/Debug/app.publish/AcessoRemotoInterface.exe
Interface/AcessoRemotoInterface/bin/Debug/BouncyCastle.Crypto.dll
Interface/AcessoRemotoInterface/bin/Debug/Google.Protobuf.dll
Interface/AcessoRemotoInterface/bin/Debug/Google.Protobuf.pdb
Interface/AcessoRemotoInterface/bin/Debug/Google.Protobuf.xml
Interface/AcessoRemotoInterface/bin/Debug/K4os.Compression.LZ4.dll
Interface/AcessoRemotoInterface/bin/Debug/K4os.Compression.LZ4.Streams.dll
Interface/AcessoRemotoInterface/bin/Debug/K4os.Compression.LZ4.Streams.xml
Interface/AcessoRemotoInterface/bin/Debug/K4os.Compression.LZ4.xml
Interface/AcessoRemotoInterface/bin/Debug/K4os.Hash.xxHash.dll
Interface/AcessoRemotoInterface/bin/Debug/K4os.Hash.xxHash.xml
Interface/AcessoRemotoInterface/bin/Debug/MySql.Data.dll
Interface/AcessoRemotoInterface/bin/Debug/MySql.Data.xml
Interface/AcessoRemotoInterface/bin/Debug/System.Buffers.dll
Interface/AcessoRemotoInterface/bin/Debug/System.Buffers.xml
Interface/AcessoRemotoInterface/bin/Debug/System.Memory.dll
Interface/AcessoRemotoInterface/bin/Debug/System.Memory.xml
Interface/AcessoRemotoInterface/bin/Debug/System.Numerics.Vectors.dll
Interface/AcessoRemotoInterface/bin/Debug/System.Numerics.Vectors.xml
Interface/AcessoRemotoInterface/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
Interface/AcessoRemotoInterface/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
Interface/AcessoRemotoInterface/bin/Debug/Ubiety.Dns.Core.dll
Interface/AcessoRemotoInterface/bin/Debug/Zstandard.Net.dll
Interface/AcessoRemotoInterface/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Interface/AcessoRemotoInterface/obj/Debug/AcessoRemotoInterface.application
Interface/AcessoRemotoInterface/obj/Debug/AcessoRemotoInterface.ClienteForm.resources
Interface/AcessoRemotoInterface/obj/Debug/AcessoRemotoInterface.ConfiguracaoForm.resources
Interface/AcessoRemotoInterface/obj/Debug/AcessoRemotoInterface.ControladorForm.resources
Interface/AcessoRemotoInterface/obj/Debug/AcessoRemotoInterface.csproj.AssemblyReference.cache
Interface/AcessoRemotoInterface/obj/Debug/AcessoRemotoInterface.csproj.CopyComplete
Interface/AcessoRemotoInterface/obj/Debug/AcessoRemotoInterface.csproj.CoreCompileInputs.cache
Interface/AcessoRemotoInterface/obj/Debug/AcessoRemotoInterface.csproj.FileListAbsolute.txt
Interface/AcessoRemotoInterface/obj/Debug/AcessoRemotoInterface.csproj.GenerateResource.cache
Interface/AcessoRemotoInterface/obj/Debug/AcessoRemotoInterface.exe
Interface/AcessoRemotoInterface/obj/Debug/AcessoRemotoInterface.exe.manifest
Interface/AcessoRemotoInterface/obj/Debug/AcessoRemotoInterface.Form1.resources
Interface/AcessoRemotoInterface/obj/Debug/AcessoRemotoInterface.pdb
Interface/AcessoRemotoInterface/obj/Debug/AcessoRemotoInterface.Properties.Resources.resources
Interface/AcessoRemotoInterface/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Interface/AcessoRemotoInterface/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Interface/AcessoRemotoInterface/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
